//フォームオブジェクトの枠の色
$inputbordercolor: #000;
$inputbgcolor: #fff;
//フォームオブジェクトがdisabled時の背景色
$inputdisabledbgcolor: #ddd;
//フォームオブジェクトにフォーカスした時の影の色
$inputfocuscolor: #ff7e28;
//プルダウンの矢印の色
$selectarwcolor: #28beff;

//ラジオボタン、チェックボックス
//フォーカスした時の色
$fccolor: #28beff;
//ラジオボタンのデザイン（$fccolorを背景にするかどうか）
$radio-nega: false;
//チェックボックスのデザイン（$fccolorを背景にするかどうか）
$check-nega: true;
//各パーツサイズ
$_radio-size: (pc: 20px, sp: 18px) !default;
$_radiofc-size: (pc: 14px, sp: 10px) !default;
$_check-size: (pc: 18px, sp: 18px) !default;
$_checkfc-size: (pc: 18px, sp: 18px) !default;

.formitem{
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    clear: both;
    @include mq(sm, max){
        display: block;
        margin: 20px 15px 0;
    }
    &--column{
        float: left;
        width: 50%;
        clear: none;
        margin-bottom: 40px;
        &2{
            float: right;
            width: 47%;
        }
        @include mq(sm, max){
            width: 40%;
            margin-bottom: 20px;
        }
    }
}
.label{
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    line-height: 1.56;
    font-weight: bold;
    @include mq(sm, max){
        height: auto;
        font-size: 16px;
        line-height: 1.75;
    }
}

.input{
    border: 1px solid $inputbordercolor;
    background-color: $inputbgcolor;
    border-radius: 4px;
    font-size: 18px;
    padding: 10px 20px;
    width: calc(100% - 40px);
    -webkit-appearance: none;
    
    &--initial{
        border-color: #fff;
        background-color: #f2f2f2;
        color: $inputbordercolor;
    }
    &:focus, &--focus{
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 0 2px $inputfocuscolor;
        outline: none;
    }
    &[disabled]{
        background-color: #ddd;
        border-color: lighten($inputbordercolor, 50%);
    }

    @include mq(sm, max){
        border-radius: 4px;
        font-size: 16px;
        padding: 8px 10px;
        width: calc(100% - 20px);
    }
    &--inline{
        width: 200px;
        margin-left: auto;
        &:first-child{
            margin-left: 0;
        }
    }
    &--zip{
        width: 100px;
        margin-left: 0;
        @include mq(sm, max){
            width: 100px;
        }
    }
}

.textarea{
    border: 1px solid $inputbordercolor;
    border-radius: 4px;
    background-color: $inputbgcolor;
    font-size: 18px;
    padding: 10px 20px;
    width: 100%;
    -webkit-appearance: none;
    resize: none;
    
    &--initial{
        background-color: #f2f2f2;
        color: $inputbordercolor;
        border-color: #f2f2f2;
    }
    &:focus, &--focus{
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 0 2px $inputfocuscolor;
        outline: none;
    }
    &[disabled]{
        background-color: $inputdisabledbgcolor;
        border-color: lighten($inputbordercolor, 50%);
    }

    @include mq(sm, max){
        border-radius: 4px;
        font-size: 16px;
        padding: 8px 10px;
    }
}

//フォーム要素を横に並べる
.inputwrapper{
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    > span{
        font-size: 16px;
        margin: 0 5px;
        align-self: center;
    }
    > div{
        display: inline-block;
        margin-left: auto;
        &:first-child{
            margin-left: 0;
        }
    }
    &--radio, &--check{
        align-items: baseline;
        flex-wrap: wrap;
        @include mq(sm, max){
            margin-left: 30px;
        }

        div.radiowrapper--2,
        div.checkwrapper--2{
            margin-left: 5px;
            width: 48%;
            &:nth-child(4n+1){
                margin-left: 5px;
            }
            &:nth-child(2n+1){
                margin-left: 0px;
            }
            @include mq(sm, max){
                display: block;
                width: auto;
                margin-left: 0;
                &:nth-child(4n+1){
                    margin-left: 0px;
                }
            }
        }
    }
    &--zip{
        max-width: 200px;
        flex-wrap: wrap;
    }
    &--birthday{
        > span{
            margin-right: 20px;
            @include mq(sm, max){
                margin-right: 5px;
            }
        }
    }
    
}


//セレクトボックス
.selectwrapper{
    overflow: hidden;
    width: 100%;
    position: relative;
    border: 1px solid $inputbordercolor;
    border-radius: 4px;
    padding: 8px 10px;
    background: #ffffff;
    &:before, &:after {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0.9em;
        transform: translateY(-50%);
        margin-top: 5px;
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $selectarwcolor;
        pointer-events: none;
        @include mq(sm, max){
            right: 3px;
        }
    }
    &:after{            
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid $selectarwcolor;
        border-top: none;
        margin-top: -5px;
    }
    @include mq(sm, max){
        border-radius: 4px;
        padding: 0;
        font-size: 16px;
    }
    
    &--focus,&:focus{
        background-color: #fff;
        border-radius: 4px;
        border-color: transparent;
        box-shadow: 0 0 0 2px $inputfocuscolor;
        outline: none;
    }
    &--pref{
        width: 150px;
    }
    &--month,&--day{
        width: 80px;
        margin-left: 0 !important;
    }
    &--year{
        width: 100px;
    }

    select{
        width: 100%;
        padding: 1.5px 38px 1.5px 8px;
        color: #666666;
        padding-right: 1em;
        cursor: pointer;
        text-indent: 0.01px;
        text-overflow: ellipsis;
        border: none;
        outline: none;
        background: transparent;
        background-image: none;
        box-shadow: none;
        appearance: none;
        font-size: 18px;
        padding-right: 3rem;
        -webkit-appearance: none;
        &::-ms-expand {
            display: none;
        }
        @include mq(sm, max){
            font-size: 16px;
            padding: 7px 38px 7px 8px;
        }
    }
}

//ラジオボタン・チェックボックス
$bdcolor: $inputbordercolor;
.radiowrapper,
.checkwrapper{
    position: relative;
    &--focus{
        label:before{
            box-shadow: 0 0 0 2px $inputfocuscolor;
        }
    }
    > input{
        opacity: 0;
        position: absolute;
    }
    label{
        font-size: 18px;
        padding-left: 30px;
        position: relative;
        top: 0%;
        display: block;
        @include mq(sm, max){
            font-size: 16px;
        }
    }
}

input[type="radio"] + label:before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 0;
    width: map-get($_radio-size, pc);
    height: map-get($_radio-size, pc);
    border: 1px solid $bdcolor;
    border-radius: 50%;
    @include mq(sm, max){
        width: map-get($_radio-size, sp);
        height: map-get($_radio-size, sp);
    }
}
input[type="radio"]:checked + label::before{
    border-color: $fccolor;
    @if $radio-nega {
        background-color: $fccolor;
    }
}
input[type="radio"]:checked + label::after{
    content: "";
    display: block;
    position: absolute;
    top: map-get($_radiofc-size, pc)/2;
    left: 4px;
    width: map-get($_radiofc-size, pc);
    height: map-get($_radiofc-size, pc);

    @if $radio-nega {
        background-color: #fff;
    }
    @else{
        background-color: $fccolor;
    }

    border-radius: 50%;

    @include mq(sm, max){
        width: map-get($_radiofc-size, sp);
        height: map-get($_radiofc-size, sp);
        left: 5px;
        top: 8px;
    }
}

input[type="checkbox"] + label:before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 0;
    width: map-get($_check-size, pc);
    height: map-get($_check-size, pc);
    border-radius: 2px;
    border: 1px solid $bdcolor;
}
input[type="checkbox"]:checked + label::before{
    border-color: $fccolor;
    @if $check-nega {
        background-color: $fccolor;
    }
}
input[type="checkbox"]:checked + label::after{
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 1px;
    width: map-get($_checkfc-size, pc);
    height: map-get($_checkfc-size, pc);
    background: no-repeat center;
    $convertcolor: convertcolorcode($fccolor);
    @if $radio-nega {
        background-color: #fff;
        $convertcolor: convertcolorcode($fccolor);
        background-image: url();
    }
    @else{
        background-color: $fccolor;
        $convertcolor: convertcolorcode(#ffffff);
    }
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewBox='0 0 13 12'%3E%3Cpolygon fill='"+ $convertcolor +"' points='1.85 4.67 0 6.69 4.92 11.21 13 1.78 10.92 0 4.69 7.29 1.85 4.67'/%3E%3C/svg%3E");
}