@import "_library/_animation";
@import "_library/_colors";
@import "_library/_fonts";
@import "_library/_mixin";
@import "_library/_localmixin";
@import "_library/_typo";

@import "_components/_icon";
@import "_components/_button";
@import "_components/_form";
@import "_components/_tab";
@import "_components/_tag";
@import "_components/_list";
@import "_components/_table";
@import "_components/_header";
@import "_components/_layout";
@import "_components/_footer";
@import "_components/_nav";
@import "_components/_content";
@import "_components/_page";

html{
    //font-family:MS PGothic,Arial,Hiragino Kaku Gothic ProN,Osaka,sans-serif ;
    font-family: 'Noto Sans JP',MS PGothic,Arial,Hiragino Kaku Gothic ProN,Osaka,sans-serif;
    font-size: map-get($_font-size, md);
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    color: $color-black;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

img{
    height: auto;
}

