@import "_library/_colors";
@import "_library/_mixin";
@import "_library/_typo";



 //サンプルページ用CSS


    .wrapper {
        background-color: #0e4469;
        font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
        color: #fff;
    } 
//ヘッダー部分のCSS
    .header {
        background-color: #fff;
        color: #fff;
        position: fixed;
        width: 100%;
        z-index: 999999;
        // position: relative;
        @include mq(sm) {
            padding-top: 0;
        }
        .header-logo{
            padding: 5px 0 10px 70px;
            position: absolute;
            left: 0;
            @include mq(sm) {
                padding: 10px;
                img {
                    height: 40px;
                }
            }
        }
        .header-nav{
            padding: 41px 0 30px 0;
            @include mq(sm) {
                padding: 30px 0 30px 0; 
            }
            ul {
                margin: 0 auto;
                justify-content: space-between;
                width: 600px;
                display: flex;
                @include mq(sm) {
                    display: none;
                }
                li {
                    font-size: 20px;
                    color: #000;
                    list-style: none;
                    font-weight: bold;
                }
            }
        } 
        .header-btn {
            display: flex;
            position: absolute;
            right: 0;
            top: 0;
            padding: 28px 28px 0 0;
            text-align: center;
            @include mq(sm) {
                padding: 0;
            }
            &__icon {
                color: #333;
                padding: 10px;
                @include mq(sm) {
                    width: 40px;
                    padding: 10px 0px;
                    margin-right: 30px;
                    img {
                        height: 20px;
                    }
                }
            }
            .circle {
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #ffffff00;
                position: absolute;
                right: 50%;
                top: 50%;
                transform: translate(50%, -50%);
                z-index: 0;
                transition: .3s;
            }

        }
    }
//ボディ部分のCSS
    .content{
        .main-visual {
            margin-top: 100px;
            width: 100%;
            background-image: url(/assets/img/mv.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            @include mq(sm) {
                padding: 30px 0;
            }
            &_title {
                padding-top: 83px;
                margin: 0;
                font-size: 62px;
                text-align: center;
                @include mq(sm) {
                    font-size: 35px;
                }
            }
            &_txt {
                font-size: 16px;
                text-align: center;
                padding-bottom: 30px;
                @include mq(sm) {
                    font-size: 13px;
                    padding: 0 15px;
                }
            }
        }
        .section-blue {
            max-width: 1130px;
            margin: 0 auto;
            padding-top: 43px;
            @include mq(sm) {
                margin: 10px 0 200px 0;
            }
        }
        .number {
            position: relative;
            z-index: 3;
            p {
                top: -140px;
                position: absolute;
                font-size: 80px;
                color: paleturquoise;
                font-weight: bold;
                @include mq(sm) {
                    top: -60px;
                    font-size: 50px;
                }
            }
        }
        .box {
            padding: 19px 25px;
            background-color: #fff;
            max-width: 500px;
            z-index: 2;
            position: relative;
            @include mq(sm) {
                padding: 30px;
            }
            h1 {
                font-size: 30px;
                color: #0e4469;
                @include mq(sm) {
                    font-size: 20px;
                }
            }
            p {
                color: black;
                font-size: 16px;
            }
        }
        img {
            width: 620px;
            @include mq(sm) {
                width: 310px;
            }
        }
        
        .content-1 {
            // max-width: 900px;
            position: relative;
            margin-bottom: 220px;
            @include mq(sm) {
                margin-bottom: 20px;
                padding: 30px;
                margin-bottom: 100px;
            }
            .photo {
                z-index: 1;
                position: absolute;
                top: 40px;
                right: 110px;
                @include mq(sm) {
                    top: 330px;
                    right: 20px;
                }
            }
        }
        .content-sell {
            margin-bottom: 150px;
            margin-left: 597px;
            position: relative;
            @include mq(sm) {
                margin: 0 30px 100px;
            }
            .number-sell {
                position: absolute;
                right: 50px;
                top: -10px;
            }
            .box {
                padding: 10px 34px 57px 40px;
                background-color: #fff;
                max-width: 600px;
                @include mq(sm) {
                    padding: 30px;
                }
                h1 {
                    font-size: 30px;
                    color: #0e4469;
                    @include mq(sm) {
                        font-size: 20px;
                    }
                }
                p {
                    color: black;
                    font-size: 15px;
                }
            }
            .photo-sell {
                position: absolute;
                left: -474px;
                top: 40px;
                @include mq(sm) {
                    left:  -10px;
                    top: 330px;
                }
            }
        }


        .section-white {
            color: black;
            background-color: #fff;
        }
        .section-white__inner {
            max-width: 1200px;
            margin: 0 auto;
            .use-title {
                text-align: center;
                color: #0e4469;
                font-size: 18px;
                padding: 27px 0 23px 0;
                @include mq(sm) {
                    padding: 0 30px;
                }
            }
            .use-title__useful {
                text-align: center;
                color: #0e4469;
                font-size: 18px;
                padding: 55px 0 2px 0;
                @include mq(sm) {
                    padding: 0 30px;
                }
            }
            .use-title__post {
                text-align: center;
                color: #0e4469;
                font-size: 18px;
                padding: 55px 0 2px 0;
                @include mq(sm) {
                    padding: 0 30px;
                }
            }
            .use-category {
                display: flex;
                width: 100%;
                @include mq(sm) {
                    display: block;
                }
                .use-content {
                    padding: 0 60px;
                    @include mq(sm) {
                        padding: 0 30px;
                    }
                    h2 {
                        text-align: center;
                        font-size: 24px;
                        margin-top: 25px;
                    }
                    img {
                        width: 100%;
                    }
                    p {
                        font-size: 15px;
                    }
                }
                .use-content + .use-content {
                    border-left: 1px solid #eee;
                }
            }
            .use-regester{
                text-align: center;
                padding-bottom: 150px;
                .use-title__dsc {
                    font-size: 15px;
                    text-align: center;
                    line-height: 5px;
                    padding-bottom: 55px;
                    @include mq(sm) {
                        text-align: left;
                        padding: 0 30px;
                        line-height: 20px;
                        margin-bottom: 20px;
                    }
                }
                .use-title__post-desc {
                    font-size: 15px;
                    text-align: center;
                    line-height: 5px;
                    padding-bottom: 30px;
                    @include mq(sm) {
                        text-align: left;
                        padding: 0 30px;
                        line-height: 20px;
                        margin-bottom: 20px;
                    }
                }
                .use-btn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: solid 2px #0e4469;
                    max-width: 680px;
                    margin: 0 auto;
                    border-radius: 70px;
                    font-weight: bold;
                    height: 55px;
                    transition: .2s;
                    @include mq(sm) {
                        max-width: 300px;
                    }
                    .use-btn__icon {
                        display: inline-block;
                        width: auto;
                        height: 30px;
                        padding: 0 25px 0 0 ;
                    }
                    .use-btn__txt {
                        color: #0e4469;
                        font-size: 20px;
                    }
                }
                .use-btn:hover {
                    background-color: #eec35b;
                    border-color: #eec35b;
                }
                .use-post {
                    display: flex;
                    width: 100%;
                    margin-bottom: 20px;
                    @include mq(sm) {
                        width: calc(100% - 30px);
                        margin: 0 auto;
                        display: block;
                        
                    }
                    &__article {
                        padding: 15px 30px;
                        margin: 30px;
                        width: calc(100% - 100px/3);
                        text-align: left;
                        border: solid 1px #ced8df;
                        @include mq(sm) {
                            margin: 0 auto;
                            padding: 0px;
                            margin-bottom: 20px;
                        }
                        h1 {
                            position: relative;
                            color: #0e4469;
                            font-size: 17px;
                            padding-left: 10px;
                            @include mq(sm) {
                                padding: 10px;
                                font-size: 15px;
                            }
                        }
                        h1:before {
                            content: '';
                            position: absolute;
                            width: 3px;
                            background-color: #0e4469;
                            height: 100%;
                            top: 1px;
                            left: 0;
                        }
                        p {
                            font-size: 16px;
                            @include mq(sm) {
                                padding: 0 10px 10px 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer {
        .footer-blue {
            padding: 15px 0 30px 0;
            background-color: #192446;
            // width: 100%;
            // padding: 100px 0;
            text-align: center;
            display: flex;
            justify-content: space-between;
            @include mq(sm) {
                display: block;
                padding: 0;
            }
            .footer-blue__menu {
                width: 100%;
                margin-left: 170px;
                @include mq(sm) {
                    margin-left: 0;
                    padding: 30px;
                }
                ul {
                    display: flex;
                    list-style: none;
                    flex-wrap: wrap;
                    // flex: 1;
                    padding: 0;
                    @include mq(sm) {
                        // display: block;
                    }
                }
                li {
                    justify-content: space-between;
                    text-align: left;
                    font-size: 15px;
                    margin-right: 25px;
                    font-weight: bold;
                    width: 16%;
                    padding: 10px 0;
                    @include mq(sm) {
                        width: 50%;
                        margin-right: 0;
                    }
                }
            }
            .footer-bule__logo {
                margin-right: 170px;
                @include mq(sm) {
                    margin-right: 0px;
                    padding: 15px;
                    width: 100px;
                    margin-left: auto;
                }
                .footer-bule__mainlogo {
                    @include mq(sm) {
                        width: 100px;
                    }
                }
                .footer-bule__twitter {
                    margin-top: 40px;
                    @include mq(sm) {
                    }
                }
            }
        }
        .footer-white {
            display: flex;
            background-color: #fff;
            padding: 15px 170px;
            width: calc(100% - 280px);
            justify-content: space-between;
            @include mq(sm) {
                display: block;
                padding: 0px;
                width: 100%;
            }
            &__corp {
                display: flex;
                align-items: flex-end;
                p {
                    color: #333;
                    margin: 0;
                }
            }
            &__policy {
                position: relative;
                ul {
                    display: flex;
                    @include mq(sm) {
                        margin-left: 30px;
                        padding: 0;
                        flex-wrap: wrap;
                        padding-bottom: 100px;
                    }
                }
                li {
                    list-style: none;
                    color: #333;
                    font-size: 13px;
                    font-weight: bold;
                    margin-right: 55px;
                    @include mq(sm) {
                        margin-right: 10px;
                        font-size: 13px;
                        flex-wrap: wrap;
                    }
                }
            }
            .footer-white__top {
                position: absolute;
                top: 10px;
                right: -100px;
                @include mq(sm) {
                    top: 40px;
                    right: 5px;
                }
            }
        }
    }


    @media only screen and (max-width:750px) {
        .header-logo {
            width: 40px;
        }
    }