//- フッタ
// footer
footer.footer
    .footer-blue 
        .footer-blue__menu
            ul 
                li トップページ
                li 記事を探す
                li BIM講座
                li BIMオブジェクト
                li BIMworkについて
                li ログイン
                li 新規会員登録
                li お知らせ
                li 掲載したい方
        .footer-bule__logo 
            img.footer-bule__mainlogo(src="/assets/img/logo-hol_wh.svg", alt="")
            img.footer-bule__twitter(src="/assets/img/twitter.svg", alt="")
    .footer-white
        .footer-white__corp
             img.footer-bule__twitter(src="/assets/img/logo-mtheree.svg", alt="")
             p ©M THREE STARS Corp.
        .footer-white__policy 
            ul 
                li 運営会社
                li プライバシーポリシー
                li 特商法について
                li 利用規約
            img.footer-white__top(src="/assets/img/btn_top.svg", alt="")