//- ヘッダ
// header
header.header
    .header-logo: a(href="/"): img(src="/assets/img/logo-ver.svg", alt="title logo")
    .header-nav 
        ul
            li 記事を探す
            li BIM講座
            li BIMオブジェクト
            li BIMworkについて
    .header-btn
        .header-btn__icon
            img(src="/assets/img/keisai.svg", alt="")
            p 掲載したい方
            span.circle 
        .header-btn__icon
            img(src="/assets/img/login.svg", alt="")
            p 掲載したい方
        .header-btn__icon
            img(src="/assets/img/cart.svg", alt="")
            p 掲載したい方
