extends /_partials/_layout
block append vars
    //- ページ個別にメタデータを変更したい場合はここで再設定できます
    - metas.title = sitetitle
block append style
    //- ページ個別にスタイルシートを追加したい場合はここへ記述  
    link(rel='stylesheet', href='/assets/css/top.css')
block append end_of_body
    //- ページ個別にJsを追加したい場合はここへ記述  
block contents
    //- コンテンツ本文
    .main-visual
        h1.main-visual_title ここはBIMのすべて
        p.main-visual_txt BIMworkはBIMを扱う人すべてを応援するサイトです。
                            br
                            | 「BIMで困った時、BIMworkを開けば解決できる。」そんなサイトを目指しています。
                            br
                            | ここでは、BIMの最新情報やBIMの使い方を学ぶ講座の閲覧、
                            br
                            | BIMオブジェクトのダウンロードをすることができます。
    .section-blue
        .content-1
            .number
                p 1
            .box
                h1 BIMを知る、BIMを使う
                p BIMworkでは、BIMに関わる最新情報を随時発信しております。また、各BIM製品の講座も充実しており、BIMを学びたい方や、さらにスキルアップしたい方に役立つ情報を揃えています。さらに会員登録することで、BIMオブジェクトのダウンロードや、各コンテンツのお気に入り登録も可能です。企業のDX導入検討や、ご自身のスキルアップにお使いください。
            .photo
                img(src="/assets/img/section1_1.jpg", alt="")

        .content-sell
            .number.number-sell
                p 2
            .box
                h1 誰でもBIMに関する情報を発信・販売できる
                p BIMworkでは、BIMに関わる最新情報を随時発信しております。また、各BIM製品の講座も充実しており、BIMを学びたい方や、さらにスキルアップしたい方に役立つ情報を揃えています。さらに会員登録することで、BIMオブジェクトのダウンロードや、各コンテンツのお気に入り登録も可能です。企業のDX導入検討や、ご自身のスキルアップにお使いください。
            .photo-sell
                img(src="/assets/img/section1_2.jpg", alt="")
        .content-1
            .number
                p 3
            .box 
                h1 設計者とメーカーをつなぐ
                p 設計者はメーカーが掲載する記事やBIMオブジェクトを比較・検討することで、プロジェクトへの商品の採用を検討することができます。疑問点やリクエストがあれば、BIMオブジェクトページや各企業ページ記載のメッセージ機能により、メーカーに直接問い合わせすることも可能です。
            .photo
                img(src="/assets/img/section1_3.jpg", alt="")
    .section-white
        .section-white__inner
            .use-title 
                h1 BIMworkを利用する
            .use-category 
                .use-content
                    img(src="/assets/img/section2_1.jpg", alt="")
                    h2 記事を探す
                    p BIMの概要や活用事例など、BIMに関する最新記事をお届けします。
                .use-content
                    img(src="/assets/img/section2_2.jpg", alt="")
                    h2 BIM講座
                    p ソフト別、利用者別にBIMの使い方を学ぶことのできる講座です。
                .use-content
                    img(src="/assets/img/section2_3.jpg", alt="")
                    h2 BIMオブジェクト
                    p モデル作成に必要なパーツをフリーダウンロード、購入することができます。
            .use-regester
                .use-title__useful
                    h1 会員登録すると便利です
                .use-title__dsc
                    p BIMオブジェクトの購入やフリーダウンロードには登録が必要です。
                    br
                    | 登録していただくと記事や講座をお気に入り登録したり、メーカーへ問い合わせすることもできます。
                .use-btn
                    img.use-btn__icon(src="/assets/img/login_navy.svg", alt="")
                    p.use-btn__txt  新規会員登録はこちら
                .use-title__post
                    h1 BIMworkでは掲載者を募集しています
                .use-title__post-desc
                    p 作成したBIMオブジェクトを販売することが可能です。
                    br
                    | また、記事を掲載し、貴社の商品をアピールすることもできます。
                    p
                    br
                    | 詳しくは下記フォームよりお気軽にお問い合わせください。
                .use-post 
                        .use-post__article 
                            h1 BIMオブジェクトの販売
                            p 作成したBIMオブジェクトを販売・無料配布することが可能です。（有料販売の場合、売り上げの20%の販売手数料がかかります）
                        .use-post__article 
                            h1 記事の投稿
                            p 建築DXに関わる記事や、掲載したBIMオブジェクトの紹介記事など、BIMに関わる記事を作成・公開することが可能です。
                        .use-post__article 
                            h1 企業ページの作成（法人様のみ）
                            p 法人様のみ、企業ページを作成することが可能です。企業基本情報のほか、掲載したBIMオブジェクトや記事をまとめて表示することが可能です。
                .use-btn
                    img.use-btn__icon(src="/assets/img/mail_navy.svg", alt="")
                    p.use-btn__txt  お問い合わせはこちら